@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
$font-family: "Quicksand", sans-serif;
$primary-color: #fad3da;
$secondary-color: #ffe5d9ff;
$tertiary-color:#f6c8d0;
$spotify-color: rgb(200, 235, 214);
$font-color: rgb(134, 109, 116);
$dark-font-color: rgb(59, 38, 43);
$pulse-speed:0.5s;
$chill-pulse-speed: 0.75s;

body {
  margin: 0;
  padding:0;
}
// * {
//   // border: 1px black solid;
// }

#app{
  width:100%;
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100%;
}

#navBar {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-around;
  align-items:center;
  // border: 2px solid $font-color;
  background-color: $secondary-color;
  color: $font-color;
  text-decoration: none;
  font-size:1.5rem;
  #create-playlist{
    // size: 100000px;
  
  }

  .bye {
    color: $font-color;
    text-decoration: none;
    transition:0.25s;
    font-weight:500;
    &:hover{
      color:$dark-font-color;
      cursor:pointer;
    }
  }

  .navList {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
    align-items:center;
    color: $font-color;
    text-decoration: none;
    width:100%;
    padding-right:8.5rem;
  }

  .navList:link {
    color: $font-color;
    text-decoration: none;
    
  }
  
  .logoutButton {
    text-decoration: none;
  }
}

#app {
  font-family: $font-family;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  color: $font-color;
  width: 100%;
  margin: 0;
}

#title {
  text-align: center;
  margin: 0px;
  padding:3rem;
}

#name {
  font-size: 80px;
  font-weight: 800;
  border-radius:2rem;
}

#slogan {
  font-size: 60px;
  font-weight: 700;
  border-radius:2rem;
}

.pulse{
  animation: $pulse-speed pulse infinite;
}

.chill-pulse{
  animation: $chill-pulse-speed chillPulse infinite;
}

.dancing-div{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  width:100%;
  .lights-div{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:60%;
    .lights{
      border-radius: 50%;
      margin: 10px;
      height: 30px;
      width: 30px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      transform: scale(1);
      
    }
    .red{
      background:rgb(249, 63, 53);
      animation: $pulse-speed redPulse infinite;
    }
    .blue{
      background:rgb(0, 234, 255);
      animation: $pulse-speed bluePulse infinite;
    }
    .purple{
      background:rgb(240, 0, 240);
      animation: $pulse-speed purplePulse infinite;
    }
  }

  }
  .two-axolotls{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    width:50%;
    .axolotl-div{
      .axolotl{
        width:250px;
      }
    }
  }

.ostrich-div{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem;

}

#duck{
  width:250px;
}

.lightning-div{
  .lightning{
    width:100px;
  }
}

#lightning-left{
  animation:$chill-pulse-speed twitch infinite alternate;
}

#lightning-right{
  animation:$chill-pulse-speed twitch infinite alternate;
}


.notes-div{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  width:100%;
  padding:1rem;
 
  .note{
    width:70px;
    
    padding:2rem;
    border-radius: 3rem;
  }

  .blast-left{
    animation: $pulse-speed blastLeft infinite;
  }

  .blast-right{
    animation: $pulse-speed blastRight infinite;
  }
}
.flip-horizontally{
  transform:scaleX(-1);
}

.player-div{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  gap:2rem;
  padding-bottom:3rem;
}

.dancing-left-div{
  flex-grow:1;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  gap:1rem;
  padding-top:3rem;
}

.dancing-right-div{
  flex-grow:1;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  gap:1rem;
}

@keyframes redPulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(249, 63, 53, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgb(249, 63, 53, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(249, 63, 53, 0);
	}
}

@keyframes bluePulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(0, 234, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgb(0, 234, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(0, 234, 255, 0);
	}
}

@keyframes purplePulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(240, 0, 240, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgb(240, 0, 240, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(240, 0, 240, 0);
	}
}


@keyframes pulse {
  0% {
		transform: scale(1);
		color:$primary-color;
	}

	70% {
		transform: scale(1.1);
		color:$font-color;
	}

	100% {
		transform: scale(1);
		color:$spotify-color;
	}
}

@keyframes chillPulse{
  0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

@keyframes blastLeft {
  0% {
		transform: scale(0.5);
    translate: 70px -50px;
    opacity:0.1;
	}

	70% {
		transform: scale(1.1);
    opacity:1;
	}

	100% {
		transform: scale(1);
    translate: 0px 50px;
    opacity:0;
	}
}

@keyframes blastRight {
  0% {
		transform: scale(0.5);
    translate: -70px -50px;
    opacity:0.5;
	}

	70% {
		transform: scale(1.1);
    opacity:1;
	}

	100% {
		transform: scale(1);
    translate: 0px 50px;
    opacity:0;
	}
}

@keyframes twitch {
  0% {
    transform:rotate(0deg);
	}

	100% {
    transform:rotate(15deg);
	}
}

  
.ostrich-div{
  .ostrich{
    width:600px;
  }
  .lightning{
    width:100px;
  }
}

.links {
  // margin: 10px;
  padding: 5px;
}

#loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  // log-in button
  .login {
    font-family: $font-family;
    width: auto;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    background-color: $spotify-color;
    font-size: 30px;
    border-radius: 8px;
    color: $font-color;
    border:none;
    transition:0.2s;
  }

  .login:hover {
    box-shadow: 3px 3px 3px  $font-color, 0 6px 10px 0 $font-color;
    transform:scale(1.05);
  }
}

// make playlist button (on playlist form page)
#formPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  color: $font-color;
  border-radius:2rem;
  background-color:$tertiary-color;
  margin-bottom:2rem;
  box-shadow:3px 3px 8px $font-color;

  .makePlaylist {
    font-family: $font-family;
    background-color: $spotify-color;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    color: $font-color;
    border:none;
    transition:0.25s;
  }
  .makePlaylist:hover {
    box-shadow: 3px 3px 3px $font-color, 3px 3px 3px $font-color;
    transform:scale(1.05);
  }

  .dropdown-label {
    font-size: large;
  }

  .dropdown-menu {
    margin: 10px;
    font-family: $font-family;
    padding: 2px;
    font-size: medium;
    color: $font-color;
  }

  .end {
    justify-content: flex-end;
    font-family: $font-family;
    color: $font-color;
  }

  .div_input-container {
    display: flex;
    flex-direction: column;
    font-size: large;
    margin: 10px;
    padding: 2px;
  }

  .inputBox {
    width: 60%;
    font-size: medium;
    font-family: $font-family;
    color: $font-color;
    margin-top: 5px;
  }
}

.formContainer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:1rem;
  width:100%;
}

#loading-img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:3rem;
}

.embedded-player{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  gap:1rem;
  flex-grow:2;
  min-width:300px;
  max-width:500px;
  h1{

    span{
      color:rgb(85, 174, 120);
    }
  }
}

#iframe-player{
  border:none;
  border-radius:1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.62);
}



.history{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-around;
  align-items:center;
  // border: 2px solid $font-color;
  background-color: $secondary-color;
  color: $font-color;
  text-decoration: none;
  font-size:1.5rem;
}
